
@font-face {

  font-family: 'my-handwriting';
  src: url('/w31rdgr1wr1d-pages/w31rdgr1wr1d-static/cowie-static/cowie-font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

body {

  font-family: 'my-handwriting';
  font-size: 16px;
  color: #000;
  margin: 5%;

}


.header-container {
  /* for buttons to return to the homepage, contact, or ...something else */

  font-family: 'my-handwriting';
  text-align: center;
  margin: 0 auto;
  font-size: 50px;
  width: 100%;

}

.textbox-container {

  display: inline;
  width: 30%
}

.textbox-container img {

  width: 30%;
  height: auto;
  position: relative

}


.cowie-container {

  display: inline;

}

.cowie-container img {

  width: 20%;
  height: auto;


}

input {

  margin: 0.4rem 0;
  font-family: 'my-handwriting';
  font-size: 56px;
  
}

