/* body styles */
body {

  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  color: #000;

  display: grid;
  margin: 0 auto;
  max-width: none;

}

.page-grid {

  display: grid; 
  /* for celled / forum-like feel */
  /* no inline... inline-grid makes cell behave like text, just "grid" makes cells behave as a page section */
  grid-template-columns: minmax(0,4fr) minmax(0, 1fr);
  /* minmax prevents overflow on small screens */
  grid-template-rows: auto 1fr;
  /* fr means "fractional unit" -  */
  /* so, 5 shares of space - could use percentages, but fr calculates automatically */
  grid-template-areas: 

  "top top"
  "left left"
  "footer footer"

}

h1 {

  margin-top: 40px;
  margin-bottom: 20px;

}

h4 {

  margin-bottom: 1px;

}


/* paragraphs */
p {

  margin: 0.5rem 0;

}

.p-caption {

  font-size: 12px;

}

/* love - hate */
/* link, visited, hover, active  */
/* all states for pseudo-classes */

ul {

  list-style: none;
  color: black;
  line-height: 25px;

}


.header-img {

  grid-area: top;
  width: 90%;
  text-align: center;

}

/* left container / column */
.left-cell {

  width: 50%;
  margin: 100px;
  text-align: left;
  grid-area: left;
  position: sticky;
  overflow-x: hidden;
  justify-content: left;

}

.left-cell hr {

  border: none;
  background-color: #000;
  height: 1px;
  margin: 1.5rem 0;

}

.nav-menu {

  width: 90%;
  margin: 0 auto;
  flex-direction: column;
  text-align: right;
  position: fixed; /* static, relative, fixed, sticky, absolute */
  top: 50%;

 /* can use transform / translate to perfectly center nav */
 
}

.nav-menu a {

  position: relative;
  padding-left: 20px; /* space for the image */

}

.nav-menu a::before {

  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 30px;        /* match your image size */
  height: 30px;
  transform: translateY(-50%);
  background-image: url("/assets/ui_bullet.png");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;

}

.nav-menu a:hover::before {

  opacity: 1;

}

.footer {

  width: 90%;
  margin: 0 auto;
  padding: 80px;

  grid-area: footer;

}

/* MEDIA QUERIES */

@media (max-width: 768px) {


  /* do as universal selector */
  /* wanna zero out margin and padding */
  /* box-sizing border box - SHOULD BE FOR ENTIRE SITE  */

  /* asterisk means all content on page - aka a universal selector */

  *,

*::before,
*::after {
  
  box-sizing: border-box;
  
  }


  html, body {

  overflow-x: hidden;

    }

  /*single-column */
  .page-grid {

    grid-template-columns: 1fr;

    grid-template-areas:
      "top"
      "left"
      "footer";

  }

  .left-cell {

    width: 100%;
    margin: 0;          /* remove large desktop margin */
    padding: 1rem;      /* small padding for breathing room */
    position: static; 
      /* sticky doesnt work on mobile really  */
    overflow: hidden;

  }

  /* Nav menu becomes inline at top */
  .nav-menu {

    position: static;
    width: 100%;
    text-align: right;
    margin: 0;
    padding: 1rem;
    
  }

  .footer {

    width: 100%;
    padding: 2rem 1rem;

  }

}