/* body styles */
body {

  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  color: #000;

  display: grid;
  margin: 0 auto;
  max-width: none;

}

.page-grid {

  display: grid; 
  /* for celled / forum-like feel */
  /* no inline... inline-grid makes cell behave like text, just "grid" makes cells behave as a page section */
  grid-template-columns: minmax(0,4fr) minmax(0, 1fr);
  /* minmax prevents overflow on small screens */
  grid-template-rows: auto 1fr;
  /* fr means "fractional unit" -  */
  /* so, 5 shares of space - could use percentages, but fr calculates automatically */
  grid-template-areas: 

  "top top"
  "left left"
  "footer footer"

}

h1 {

  margin-top: 40px;
  margin-bottom: 20px;

}

h4 {

  margin-bottom: 1px;

}

a {

  text-decoration: underline;
  color: #000;

}


/* paragraphs */
p {

  margin: 0.5rem 0;

}

.p-caption {

  font-size: 12px;

}

/* love - hate */
/* link, visited, hover, active  */
/* all states for pseudo-classes */

ul {

  list-style: none;
  color: black;
  line-height: 25px;

}


.header-img {

  grid-area: top;
  width: 90%;
  text-align: center;

}

/* left container / column */
.left-cell {

  width: 50%;
  margin: 100px;
  text-align: left;
  grid-area: left;
  position: sticky;
  overflow-x: hidden;
  justify-content: left;
  z-index: 100;
  /* had to add z-index because the stacking order of the page was not allowing me to click on project links. the nav-menu spans the width of the viewport, covering certain parts of the left-cell */

}

.left-cell hr {

  border: none;
  background-color: #000;
  height: 1px;
  margin: 1.5rem 0;

}


.nav-menu {

  width: 90%;
  margin: 0 auto;
  flex-direction: column;
  text-align: right;
  position: fixed; /* static, relative, fixed, sticky, absolute */
  top: 50%;

 /* can use transform / translate to perfectly center nav */
 /* review module 12 */
 
}

.footer {

  width: 90%;
  margin: 0 auto;
  padding: 80px;

  grid-area: footer;

} */

/* MEDIA QUERIES */