/* body styles */
body {

  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  color: #000;
  background-color: rgb(6, 193, 0);

  display: grid;
  margin: 0 auto;
  max-width: 1800px;

}

.page-grid {

  display: grid; 
  /* for celled / forum-like feel */
  /* no inline... inline-grid makes cell behave like text, just "grid" makes cells behave as a page section */
  grid-template-columns: 4fr 1fr;
  grid-template-rows: auto 1fr;
  /* fr means "fractional unit" -  */
  /* so, 5 shares of space - could use percentages, but fr calculates automatically */
  grid-template-areas: 

  "top top"
  "left right"
  "footer footer"

}

h1 {

  margin-top: 40px;
  margin-bottom: 20px;

}

/* paragraphs */
p {

  margin: 0.5rem 0;

}

/* love - hate */
/* link, visited, hover, active  */
/* all states for pseudo-classes */

ul {

  list-style: none;
  color: black;
  line-height: 25px;

}

.header-img {

  grid-area: top;
  width: 90%;
  text-align: center;

}

/* left container / column */
.left-cell {

  width: 90%;
  margin: 0 auto;
  text-align: left;
  grid-area: left;
  position: fixed;
  overflow-x: hidden;

}

.footer {

  width: 90%;
  margin: 0 auto;
  padding: 50px;

  grid-area: footer;

}
